definitions:
  steps: &steps
    - step: &base
        name: '(Dev) Webapp'
        runs-on: &base-runs-on
          - 'self.hosted'
          - 'linux'
          - 'ebpearls'
        script: &base-code-deploy-pipe
          - pipe: atlassian/aws-code-deploy:0.2.10
            variables: &base-code-deploy-vars
              AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
              AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
              AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
              COMMAND: 'upload'

pipelines:
  branches:
    dev:
      - step:
          name: '(Dev) Webapp'
          runs-on: *base-runs-on
          script:
            - apt install zip
            - mv cicd/dev/buildspec.yml .
            - zip -r ebthemes-dev-web.zip .
            - <<: *base-code-deploy-pipe
              variables:
                <<: *base-code-deploy-vars
                APPLICATION_NAME: 'ebthemes-dev'
                S3_BUCKET: 'ebthemes-code-src-ap-south-1/dev'
                ZIP_FILE: 'ebthemes-dev-web.zip'
                VERSION_LABEL: 'ebthemes-dev-web.zip'

    stage:
      - step:
          name: '(Stage) Webapp'
          runs-on: *base-runs-on
          script:
            - apt install zip
            - mv cicd/stage/buildspec.yml .
            - zip -r ebtheams-stage-web.zip .
            - <<: *base-code-deploy-pipe
              variables:
                <<: *base-code-deploy-vars
                APPLICATION_NAME: 'ebtheams-stage'
                S3_BUCKET: 'ebtheams-code-src-ap-south-1/stage'
                ZIP_FILE: 'ebtheams-stage-web.zip'
                VERSION_LABEL: 'ebtheams-stage-web.zip'

  tags:
    "**":
      - step:
          name: Call ZOOM API on New Tag
          runs-on:
            - 'self.hosted'
            - 'linux'
            - 'ebpearls'
          script:
            - chmod +x sendmessage
            - ./sendmessage
