version: '3.5'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ebtheme-web-next
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - /app/node_modules
# Caveat:
# If you need to add new dependencies to the container, you will need to run:
# docker-compose run --rm app npm install <package name>
